
<form [formGroup]="searchForm" (ngSubmit)="GetResults()">
  <div fxLayout="row">
    <div fxFlex="30"></div>
    <mat-form-field class="long-input" fxFlex="20">
      <mat-label>Search</mat-label>
      <input formControlName="searchInput" matInput placeholder="Video Title or Channel Name">
    </mat-form-field>
    <div fxFlex="1"></div>
    <button mat-raised-button type="submit" color="primary" style="align-self:center;">Submit</button>
    <div fxFlex="1"></div>
    <button mat-raised-button type="button" color="primary" style="align-self: center;">Clear</button>
  </div>
</form>




<mat-grid-list cols="5" rowHeight="2:1">
  <mat-grid-tile *ngFor="let video of results; index as i" (click)="SelectVideo(video)">
    <mat-grid-tile-header>{{video.title}}</mat-grid-tile-header>
    <img mat-card-image src="{{video.thumbnail}}" style="width:100%;" alt="">
    <mat-grid-tile-footer>
      {{video.channelTitle}}
    </mat-grid-tile-footer>

  </mat-grid-tile>
</mat-grid-list>
