
<div fxLayout="row" fxLayoutAlign="center center">

  <mat-accordion fxFlex="50">
    <!-- Login form and expansion panel -->
    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-card-title>Login</mat-card-title>
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="email" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" required>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button color="primary" [disabled]="loginForm.status == 'INVALID'">Submit</button>
        </div>
        <div *ngIf="isLoading == true">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </mat-expansion-panel>
    </form>

    <!-- Register form and expansion panel -->
    <form [formGroup]="registerForm" (ngSubmit)="submitRegister()">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-card-title>Register</mat-card-title>
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <mat-form-field>
            <mat-label>User Name</mat-label>
            <input matInput formControlName="username" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="email" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="confirmPassword" required>
          </mat-form-field>
        </div>
        <div *ngIf="registerForm.errors?.['passwordMismatch'] && (registerForm.touched || registerForm.dirty)" class="cross-validation-error-message alert alert-danger">
          Password fields must match.
        </div>
        <div>
          <button mat-raised-button color="primary" [disabled]="registerForm.status == 'INVALID'">Submit</button>
        </div>
        <div *ngIf="isLoading == true">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </mat-expansion-panel>
    </form>
  </mat-accordion>


</div>
