

<mat-card class="example-card" style="max-width:560px">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{data.title}}</mat-card-title>
    <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
  </mat-card-header>
  <div style="align-content:center">
    <iframe width="560" height="315" [src]="GetVideoID(data.videoID) | safe"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
    </iframe>
  </div>

  <mat-card-content>
    <div *ngFor="let item of data.playlists">
      {{item.playlistTitle}}
      <mat-divider></mat-divider>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-mini-fab color="accent" class="video-option">
      <mat-icon>thumb_up</mat-icon>
    </button>

    <button mat-mini-fab color="accent" class="video-option">
      <mat-icon>share</mat-icon>
    </button>
  </mat-card-actions>

  <app-comment-section [videoID]="data.id"></app-comment-section>

</mat-card>
