@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.listitemvideo {
  padding: 10px;
  margin: 10px;
  /*  background-color: #272727;*/
  background-color: #673ab7;
  /*  font-size: large;*/
  border-radius: 25px;
  font-family: Roboto, sans-serif;
  max-width: none;
  color: white;
}

.listitemvideo:hover {
  background-color: #6f42c1;
}

.video-results {
/*    max-height: 900px;*/
  overflow: auto;
  max-width: 70%;
}

.long-input {
  width: 55%;
  margin-right: 1%;
}

/*.form {
  background-color: #0f0f0f;
}
*/
