<div>

  <div>
    <p>
      Below is a collection of playlists that have been searched using this tool. Click one to view it.
    </p>
  </div>

  <!--foreach playlist in list-->
  <div>
    <div *ngIf="isLoading == true">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <div *ngIf="playlists">
      <div *ngFor="let playlist of playlists; index as i">
        <a class="nav-link text-dark" (click)="playlistClick(playlist.playlistID)">

          <mat-card class="listitemvideo">
            <div fxLayout="row">
              <div>
                <div>
                  {{playlist.playlistTitle}}
                </div>
                <div>
                  Playlist Owner: {{playlist.channelOwner}}
                </div>
              </div>

            </div>
          </mat-card>

        </a>
      </div>
    </div>
  </div>

</div>
